@font-face{
    font-family: AmaticSC;
    src: url(AmaticSC-Regular.ttf);
}

body{
    background-color: black;
    background-image: url(background3.jpg);
    background-repeat: repeat;
    background-size: contain;
    color:white;
}

h1{
    font-family: AmaticSC;
    font-size: 120px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.taskpanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-color: gray;
    border-width: 10px;
    border-style: solid;
    width:90%;
    height:85%;
    margin:auto;
    background-color: rgba(0,255,255,0.5);
}

.tasktable{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-spacing: 25px;
}

.tasktable td{
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    font-family: AmaticSC;
    font-size:50px;
    text-shadow: 0 0 10px black;
    cursor:pointer;
    user-select: none;
    transition: background-color 0.5s ease;
}

.highlight{
    background-color: rgba(0,255,0,0.5) !important;
}

.label{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    width:75%;
    border-radius: 25px;
    height:10px;
}

.admin{
    background-color: #55c1ff;
}

.cafeteria{
    background-color: #72feff;
}

.electrical{
    background-color: #72fb79;
}

.laboratory{
    background-color: #fffc79;
}

.lowerengine{
    background-color: #ffd378;
}

.medbay{
    background-color: #ff7e79;
}

.navigation{
    background-color: #ff2f92;
}

.storage{
    background-color: #ff2701;
}

.upperengine{
    background-color: #fe9402;
}

.weapons{
    background-color: #ffd379;
}