.videoGallery{
	width:1000px;
	height: 750px;
	background-color: rgba(0,0,0,0.5);
	/*margin-top: 100px;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom:100px;*/
	overflow: hidden;
}

.video{
	float:left;
	width: 320px;
	height: 240px;
	
	margin-left:auto;
	margin-right:auto;
}

.video:nth-child(3n+1){
	clear:left;
}

.video img{
	margin-top:10%;
	margin-left:10%;
	width:90%;
	height:90%;
	box-shadow: 5px 5px 5px black;
}
.pagination{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
}
.pagination a{
	text-decoration: none;
	color: white;
	font-style: bold;
	font-size:25px;
	cursor:pointer;
	user-select:none;
	margin-left:10px;
	margin-right:10px;
}
.orderbutton{
	position: relative;
	display:flex;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	margin-top:10px;
	margin-bottom:60px;
}
.orderbutton button{
	position:absolute;
	right:0;
	top:0;
	align-content: right;
	width:150px;
	height:50px;

}
#pagenumber{
	user-select:none;
}